@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Conference</h1>
    <img src="~/images/emailbanner.png"/>
</div>

<a class="btn btn-primary" asp-action="RegisterForm">Register for the conference</a>
